<form class="box-header" novalidate>
  <div class="row">
  {{#each fields}}
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group" >
      <div class="col-sm-3 form-group" style="padding:7px 0; margin-bottom:0;">
              <span>{{label}}</span>
      </div>
      <div class="col-sm-9 form-group" style="margin-bottom:0;">
      {{#if readOnly}}
          <input
                  type="text"
                  class="form-control "
                  readOnly
                  style="overflow: hidden; whitewhite-space: nowrap;text-overflow: ellipsis;"
                  title="{{{value}}}"
                  name={{{name}}}
                          value='{{{value}}}'
                  placeholder={{label}}>
          </input>
      {{else}}
            {{#if dateCmdb}}
                        <div class="control-group">
                            <div class="controls">
                                <input
                                        type="text"
                                        maxlength="{{maxLength}}"
                                                class="form-control form-control-date"
                                        style="overflow: hidden; whitewhite-space: nowrap;text-overflow: ellipsis;"
                                        title="{{{value}}}"
                                        name={{{name}}}
                                                value='{{{value}}}'
                                        placeholder={{label}}
                                        data-date-format="yyyy-mm-dd"
                                >
                                </input>
                                <p id="{{name}}help" class="help-block" style="color: red"></p>
                            </div>
                        </div>
            {{/if}}

            {{#if text}}
                    {{#if required}}
                        <div class="control-group">
                            <div class="controls">
                                <input
                                        type="text"
                                        maxlength="{{maxLength}}"
                                                class="form-control"
                                        style="overflow: hidden; whitewhite-space: nowrap;text-overflow: ellipsis;"
                                        title="{{{value}}}"
                                        required="required"
                                        name={{{name}}}
                                                value='{{{value}}}'
                                        placeholder={{label}}
                                        data-validation-required-message='{{label}}字段不能为空'
                                >
                                </input>
                                <p id="{{name}}help" class="help-block" style="color: red"></p>
                            </div>
                        </div>
                      {{else}}
                        <div class="control-group">
                            <div class="controls">
                                <input
                                        type="text"
                                        maxlength="{{maxLength}}"
                                                class="form-control"
                                        style="overflow: hidden; whitewhite-space: nowrap;text-overflow: ellipsis;"
                                        title="{{{value}}}"
                                        name={{{name}}}
                                                value='{{{value}}}'
                                        placeholder={{label}}
                                >
                                </input>
                                <p id="{{name}}help" class="help-block" style="color: red"></p>
                            </div>
                        </div>
                      {{/if}}
            {{/if}}

            {{#if number}}
                {{#if required}}
                    <div class="control-group">
                        <div class="controls">
                            <input title="{{{value}}}"
                                   maxlength="{{maxLength}}"
                                   class="form-control "
                                   name={{{name}}}
                                   value='{{{value}}}'
                                   placeholder={{label}}
                                   required="required"
                                   type="number"
                                   data-validation-Maxlength-message="请输入数字长度不能大于{{maxLength}}"
                                   data-validation-required-message='{{label}}字段不能为空'
                                   id="number" >
                            <p id="{{{name}}}help" class="help-block" style="color: red"></p>
                        </div>
                    </div>
                {{else}}
                    <div class="control-group">
                        <div class="controls">
                            <input title="{{{value}}}"
                                   maxlength="{{maxLength}}"
                                   class="form-control "
                                   name={{{name}}}
                                           value='{{{value}}}'
                                   placeholder={{label}}
                                           type="number"  data-validation-Maxlength-message=
                                           "请输入数字长度不能大于{{maxLength}}" id="number" >
                            <p id="{{{name}}}help" class="help-block" style="color: red"></p>
                        </div>
                    </div>

                {{/if}}
            {{/if}}

            {{#if email}}
              {{#if required}}
                <div class="control-group">
                    <div class="controls">
                        <input title="{{{value}}}"
                               class="form-control "
                               name={{{name}}}
                                       value='{{{value}}}'
                               placeholder={{label}}
                                       type="email"  data-validation-required-message=
                                "请填写邮箱地址" data-validation-validemail-message="请输入正确的邮箱格式" id="email" required="" >
                        <p id="{{{name}}}help" class="help-block" style="color: red"></p>
                    </div>
                </div>
                {{else}}
                      <div class="control-group">
                          <div class="controls">
                              <input title="{{{value}}}"
                                     class="form-control "
                                     name={{{name}}}
                                             value='{{{value}}}'
                                     placeholder={{label}}
                                             type="email" data-validation-validemail-message="请输入正确的邮箱格式" id="email">
                              <p id="{{{name}}}help" class="help-block" style="color: red"></p>
                          </div>
                      </div>
                {{/if}}
            {{/if}}

            {{#if select}}
                <select
                        name={{name}}
                                class="form-control">
                  {{#each options}}
                      {{#if select}}
                      <option value="{{value}}" selected="selected">{{label}}</option>
                      {{else}}
                      <option value="{{value}}">{{label}}</option>
                      {{/if}}
                  {{/each}}
                </select>
            {{/if}}
      {{/if}}
      </div>
    </div>

    {{#dividedIndex @index 2}}
      <div class="clearfix visible-sm-block"></div>
    {{/dividedIndex}}

    {{#dividedIndex @index 3}}
      <div class="clearfix visible-lg-block visible-md-block"></div>
    {{/dividedIndex}}
  {{/each}}
    </div>
  {{#if textInfo}}
  <div class="row col-sm-12  form-group">
      <div class="col-sm-2 form-group" >
          <span>{{textInfo.label}}</span>
      </div>
      <div class="col-sm-10 form-group" id="reviewComment">
          {{#if textInfoShow}}
              <textarea class="form-control"  readonly="readonly" name="{{textInfo.name}}">{{textInfoShow}}</textarea>
           {{else}}
              <textarea class="form-control"  name="{{textInfo.name}}"></textarea>
          {{/if}}
      </div>

  </div>
  {{/if}}



  {{#if buttonHide}}
      <div class="row">

      </div>
  {{else}}
      <div style="text-align: right; margin-right: 20px;">
        {{#if onCancel}}
          {{#if cancelButton}}
              <button id="cancelButton"  class="btn btn-default cancel-button">{{confirmButton}}</button>
          {{else}}
              <button id="cancelButton"  class="btn btn-default cancel-button">取消</button>
          {{/if}}
        {{/if}}
        {{#if onConfirm}}
          {{#if confirmButton}}
              <button id="modal" type="submit"  class="btn btn-primary save-button">{{confirmButton}}</button>
          {{else}}
              <button id="modal" type="submit" class="btn btn-primary save-button">确定</button>
          {{/if}}
        {{/if}}
      </div>
  {{/if}}

</form>
