            {{#if searchTool}}
            <ul class="data-tools"{{#compare searchTool.length 10}} style="overflow-y:scroll;"{{/compare}}>
              {{#each searchTool}}
              <li>
                <button type="button">
                  <p>{{label}}<span></span></p>
                </button>
                <div class="data-search-condition">
                  {{#each options}}
                    {{{rowHtml}}}
                  {{/each}}
                </div>
              </li>
              {{/each}}
            </ul>
            {{/if}}
 
            <ul class="data-search-basic clearfix">
              {{#each data}}
                {{#if stick}}
                  {{#equal columnName 'description'}}
                  <li data-paths="{{paths}}" data-tableName="{{tableName}}" data-columnName="{{columnName}}"><input class="data-search-des" type="text" name={{columnName}} placeholder={{displayName}}></input></li>
                  {{else}}
                  <li data-paths="{{paths}}" data-tableName="{{tableName}}" data-columnName="{{columnName}}">
                    <button type="button">
                      <p>{{displayName}}：<span></span></p>
                    </button>
                    {{#if dictionaryValues}}
                      <div class="data-search-condition data-search-checkbox"{{#compare dictionaryValues.length 10}} style="overflow-y:scroll;"{{/compare}}>
                        {{#each dictionaryValues}}
                        <label><input type="checkbox" name={{../columnName}}></input>{{this}}</label>
                        {{/each}}
                      </div>
                    {{else}}
                      {{#equal type 'String'}}
                      <div class="data-search-condition data-search-text">
                        <input class="form-control" type="text" name={{columnName}} placeholder={{displayName}}></input>
                      </div>
                      {{else}}
                      <div class="data-search-condition data-search-fromTo">
                        <p>From：</p>
                          {{#equal type 'Date'}}
                          <input class="form-control form-control-date" type="text" placeholder="yyyy-MM-DD" data-date-format="yyyy-mm-dd" name="{{columnName}}"></input>
                          {{else}}
                          <input class="form-control" type="text" placeholder="From"></input>
                          {{/equal}}
                        <p>To：</p>
                          {{#equal type 'Date'}}
                          <input class="form-control form-control-date" type="text" placeholder="yyyy-MM-DD" data-date-format="yyyy-mm-dd" name="{{columnName}}"></input>
                          {{else}}
                          <input class="form-control" type="text" placeholder="To"></input>
                          {{/equal}}
                        </div>
                      {{/equal}}
                    {{/if}}
                  </li>
                  {{/equal}}
                {{/if}}
              {{/each}}

              <li class="data-search-else data-search-more">
                <button type="button">
                  <p>更多<span></span></p>
                </button>
                <div class="data-search-condition">
                  {{#each data}}
                    {{#if stick}}

                    {{else}}
                    <label><input type="checkbox" name={{../columnName}}></input>{{displayName}}</label>
                    {{/if}}
                  {{/each}}
                </div>
              </li>

              <li class="data-search-else">
                {{#if queryButton}}
                <input type="button" class="btn btn-info filter" value={{queryButton}}>
                {{/if}}
                {{#if addButton}}
                <input type="button" class="btn btn-primary add" value={{addButton}}>
                {{/if}}
              </li>
            </ul>

            <ul class="data-search-extend clearfix"></ul>
